{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
    {% load static %}
  <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel="stylesheet" href="../static/css/base_style.css?v=2">
  <link rel="stylesheet" href="../static/css/styles.css?v=1">
  <link rel="stylesheet" href="{% static 'css/game_styles.css' %}?v=1">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="wrapper">
  <div class="sidebar">
    <div class="title">导航栏</div>
    <ul class="nav">
      <li>
        <a  href="{% url "forums:welcome" %}" onclick="handleClick(this)">笔记</a>
      </li>
      <li>
        <a  href="{% url "forums:forums" %}" onclick="handleClick(this)">论坛</a>
      </li>
      <li>
        <a  href="{% url "forums:game_snake" %}" onclick="handleClick(this)">小游戏(暂时损坏)</a>
      </li>
      <li>
        <a  href="{% url "forums:contact" %}" onclick="handleClick(this)">联系我们</a>
      </li>
{#      <li>#}
{#        <a>带图标</a>#}
{#      </li>#}
{#      <li>#}
{#        <a>bootstrap</a>#}
{#      </li>#}
{#      <li>#}
{#        <a>可关闭</a>#}
{#      </li>#}
      <li>
        <a>退出</a>
      </li>
    </ul>
  </div> 
  <div class="content content-is-open">
    <span class='side-panel-toggle'>
      <i class="fa fa-bars"></i>
    </span>

    <div class="well well-sm">
      {% block content %}
      
      {% endblock %}
    </div>
    <hr>
  </div>
</div>
<!-- partial -->
  <script src='../static/js/jquery.min.js?v=1'></script>
  <script src="../static/js/script.js?v=1"></script>
<script>
     // 在页面加载时为当前 URL 对应的 <a> 元素添加 active 类
    $(document).ready(function() {
        var currentUrl = window.location.pathname;
        $('a[href="' + currentUrl + '"]').addClass('active');
    });

    function handleClick(clickedElement) {
        // 移除所有 <a> 元素的 active 类
        $('a').removeClass('active');
        // 给点击的 <a> 元素添加 active 类
        $(clickedElement).addClass('active');
    }
</script>

</body>
</html>
