<!DOCTYPE html>
<html manifest="offline.appcache">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Key & Shield 2 www.bootstrapmb.com</title>

    <!-- Standardised web app manifest -->
    <link rel="manifest" href="appmanifest.json" />
    <!-- Allow fullscreen mode on iOS devices. (These are Apple specific meta tags.) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" sizes="256x256" href="icon-256.png" />
    <meta name="HandheldFriendly" content="true" />
    <!-- Chrome for Android web app tags -->
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="shortcut icon" sizes="256x256" href="icon-256.png" />
    <!-- All margins and padding must be zero for the canvas to fill the screen. -->
    <style type="text/css">
    * {
        padding: 0;
        margin: 0;
    }
    
    html,
    body {
        background: #000;
        color: #fff;
        overflow: hidden;
        touch-action: none;
        -ms-touch-action: none;
    }
    
    canvas {
        touch-action-delay: none;
        touch-action: none;
        -ms-touch-action: none;
    }
    </style>
</head>

<body>
    <div id="fb-root"></div>
 
    <!-- The canvas must be inside a div called c2canvasdiv -->
    <div id="c2canvasdiv">
        <!-- The canvas the project will render to.  If you change its ID, don't forget to change the
		ID the runtime looks for in the jQuery events above (ready() and cr_sizeCanvas()). -->
        <canvas id="c2canvas" width="530" height="300">
            <!-- This text is displayed if the visitor's browser does not support HTML5.
			You can change it, but it is a good idea to link to a description of a browser
			and provide some links to download some popular HTML5-compatible browsers. -->
            <h1>Your browser does not appear to support HTML5.  Try upgrading your browser to the latest version.  <a href="http://www.whatbrowser.org">What is a browser?</a>
			<br/><br/><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx">Microsoft Internet Explorer</a><br/>
			<a href="http://www.mozilla.com/firefox/">Mozilla Firefox</a><br/>
			<a href="http://www.google.com/chrome/">Google Chrome</a><br/>
			<a href="http://www.apple.com/safari/download/">Apple Safari</a><br/>
			<a href="http://www.google.com/chromeframe">Google Chrome Frame for Internet Explorer</a><br/></h1>
        </canvas>
    </div>
    <!-- Pages load faster with scripts at the bottom -->
    <!-- Construct 2 exported games require jQuery. -->
    <script src="jquery-2.1.1.min.js"></script>
    <!-- The runtime script.  You can rename it, but don't forget to rename the reference here as well.
    This file will have been minified and obfuscated if you enabled "Minify script" during export. -->
    <script src="c2runtime.js"></script>
    <script>
    var k0Y9L = {
      'D9L': (function(P) {
          var L = function(A, C, G) {
                  if (D[G] !== undefined) {
                      return D[G];
                  }
                  var R = (76. > (86, 27) ? (19.1E1, 0xcc9e2d51) : (0xA8, 10.56E2)),
                      W = ((68., 78) < 0xD3 ? (0x13, 0x1b873593) : (51.40E1, 93.10E1)),
                      d = G,
                      K = C & ~((12.0E2, 139.) > 0x33 ? (7.60E1, 0x3) : (0x19B, 1.93E2));
                  for (var H = ((0xDB, 0xE3) < (10.370E2, 0x192) ? (0x222, 0) : (0x220, 109.)); H < K; H += ((76., 11.97E2) >= (59., 34.) ? (83.30E1, 4) : (0x24D, 37.6E1))) {
                      var O = (A.charCodeAt(H) & (31.90E1 >= (78, 35.) ? (48.5E1, 0xff) : (76.10E1, 0x18B))) | ((A.charCodeAt(H + (0x157 >= (2.96E2, 29) ? (0x139, 1) : (0x16A, 142.))) & ((8.31E2, 116.60E1) < (8.73E2, 1.188E3) ? (11.24E2, 0xff) : (0x1EA, 122.5E1))) << ((0x10, 0x4F) > (0x230, 0x4B) ? (0xE5, 8) : (19, 116.))) | ((A.charCodeAt(H + ((135, 112.60E1) > (0x14E, 0x53) ? (49, 2) : (57., 49))) & 0xff) << ((110., 7.) <= (118.0E1, 0x1BE) ? (1.150E2, 16) : (0x17B, 0x227))) | ((A.charCodeAt(H + 3) & 0xff) << 24);
                      O = V(O, R);
                      O = ((O & 0x1ffff) << 15) | (O >>> 17);
                      O = V(O, W);
                      d ^= O;
                      d = ((d & 0x7ffff) << 13) | (d >>> 19);
                      d = (d * (87.9E1 > (18., 0xE7) ? (30.1E1, 5) : (44, 0x234)) + ((0x123, 50.) <= 69.7E1 ? (21.5E1, 0xe6546b64) : (107.60E1, 5.))) | 0;
                  }
                  O = ((45., 13.34E2) > (3.89E2, 0x16A) ? (0xAA, 0) : (92., 98.));
                  switch (C % 4) {
                      case 3:
                          O = (A.charCodeAt(K + 2) & 0xff) << 16;
                      case 2:
                          O |= (A.charCodeAt(K + 1) & 0xff) << 8;
                      case ((13.280E2, 122) > 80 ? (0x20E, 1) : (92., 18.1E1)):
                          O |= (A.charCodeAt(K) & (0xF2 > (89, 122) ? (18., 0xff) : (67.4E1, 0x57)));
                          O = V(O, R);
                          O = ((O & 0x1ffff) << ((1.084E3, 62.80E1) >= 0xB8 ? (5.71E2, 15) : (0x1F, 37.7E1))) | (O >>> 17);
                          O = V(O, W);
                          d ^= O;
                  }
                  d ^= C;
                  d ^= d >>> (57 < (0x16, 2.54E2) ? (5.29E2, 16) : (95, 0x128));
                  d = V(d, (0x23B > (0x163, 0x8A) ? (90.7E1, 0x85ebca6b) : (10., 42.)));
                  d ^= d >>> 13;
                  d = V(d, 0xc2b2ae35);
                  d ^= d >>> (1.40E1 <= (13, 0x1FA) ? (5.75E2, 16) : (0x1EB, 39.30E1));
                  D[G] = d;
                  return d;
              },
              V = function(A, C) {
                  var G = C & 0xffff;
                  var R = C - G;
                  return ((R * A | 0) + (G * A | 0)) | 0;
              },
              u = function(A, C, G) {
                  var R;
                  var W;
                  if (G > 0) {
                      R = J.substring(A, G);
                      W = R.length;
                      return L(R, W, C);
                  } else if (A === null || A <= 0) {
                      R = J.substring(((71, 43) <= (0x13A, 0xFE) ? (0x113, 0) : (0x118, 1.178E3)), J.length);
                      W = R.length;
                      return L(R, W, C);
                  }
                  R = J.substring(J.length - A, J.length);
                  W = R.length;
                  return L(R, W, C);
              },
              D = {},
              J = (function() {}).constructor(new P("xkz{xt&jui{sktz4jusgotA").n9L(6))();
          return {
              j9L: V,
              y9L: L,
              l9L: u
          };
      })(function(R) {
          this.f9L = R;
          this.n9L = function(A) {
              var C = new String();
              for (var G = 0; G < R.length; G++) {
                  C += String.fromCharCode(R.charCodeAt(G) - A);
              }
              return C;
          }
      })
  };

  function onVisibilityChanged() {

          if (document.hidden || document.mozHidden || document.webkitHidden || document.msHidden) cr_setSuspended(true);
          else cr_setSuspended(false);
    
  }
  jQuery(window).resize(function() {

          cr_sizeCanvas(jQuery(window).width(), jQuery(window).height());
  
  });
  jQuery(document).ready(function() {

          cr_createRuntime(("c2" + "ca" + "nv" + "as"));
      
  });;
  document.addEventListener("visibilitychange", onVisibilityChanged, ((9.66E2, 0x197) >= (135, 34.) ? (0x118, false) : (0, 1.052E3)));
  document.addEventListener("mozvisibilitychange", onVisibilityChanged, false);
  document.addEventListener("webkitvisibilitychange", onVisibilityChanged, ((0x212, 0xFE) > 126. ? (0x1FD, false) : (6.53E2, 2.30E1)));
  document.addEventListener("msvisibilitychange", onVisibilityChanged, ((0x1FA, 0x174) <= (0x56, 0x1B4) ? (117.5E1, false) : (48, 0xCC)));
    </script>
</body>

</html>
