{% extends "base.html" %}
{% block title %}笔记{% endblock %}
{% block content %}

<main>
  <h1>UEEC10 算分任务/考试攻略</h1>
    <h2>
        抄袭后果严重，本站暂仅提供杂七杂八的要求说明，让你安心做作业，用心去考试
    </h2>
    <h3>都是自己人，手下留情，请勿攻击</h3>

    <h3>（最新更新于2023年12月14日）</h3>

    <div class="newline"
         style="white-space: pre-line;
         font-size:20px;
         border: 1px solid red;">
        更新日志（2023.12.14）：
        1、添加了小游戏分区（但css损坏）
        2、更新了UI，导航栏可以收回了
        更新日志（2023.12.13）：
        1、站点由note.yang3457.com改为ueec.yang3457.com
        2、架构由PHP改为Django
        3、增加论坛灌水区
    </div>
{% for message in messages %}
    <div class="alert alert-{{ message.tages }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong>{{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}


{% if user.is_authenticated %}
    <div>
        <h3>Hello!{{ fname }}</h3>
        <h4>You are successfully logged in.</h4>
    </div>
{% endif %}

{#        <div>#}
{##}
{#            <a href="{% url 'app01:index' %}">跳转到index</a>#}
{#        </div>#}
    <div style="font-size: 20px;margin: 20px;" >
    <a href="https://student.unsw.edu.au/harvard-referencing">
        https://student.unsw.edu.au/harvard-referencing
    </a>
     </div>
 <div style="font-size: 20px;margin: 20px;">
    <a href="{% url 'forums:ab' %}">
        AB相关的东西
    </a>
 </div>

  <div>
      ---------discussion skills----------
  </div>
{#  <img src="/static/img/DS/DS.png">#}
  <div>

  </div>

  <div>

  </div>
{#  <img src="/static/img/DS/DS2.png">#}
</main>
{% endblock %}

