
main {
    width: 80%;
    margin: 20px auto;
}

#post-list, #create-post, #comments {
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

/*snake_css*/
.mf {
    border: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
}
.item {
    box-sizing: border-box;
    border: 1px solid #ddd;
}
.player {
    background-color: #444;
}
.eat {
    background-color:rosybrown;
}
