{% extends "base.html" %}
{% load static %}
{% block title %}论坛{% endblock %}
{% block cssLink %}
  <link rel="stylesheet" href="{% static 'forums/css/styles.css' %}?v=1">
{% endblock %}
{% block content %}
    <main>
        <section id="post-list">
            <h2>Posts</h2>
            <div class="post">
                {% for post in posts %}
                    <h3>{{ post.post_name }}</h3>
                      <p>{{ post.post_content }}---created by {{post.post_by_name}}</p>
                    <hr>
                {% endfor %}
            </div>

        </section>
        <section id="create-post">
            <h2>Create Post</h2>
            <form id="post-form" method="post">
                {% csrf_token %}
                <input type="text" name="post-title" placeholder="Title" >
                <textarea name="post-content" placeholder="Write your post here..." ></textarea>
                <button type="submit">Submit Post</button>
            </form>
        </section>
        <section id="comments">
            <h2>Comments</h2>
            <!-- Comments will be listed here -->
        </section>
    </main>
{% endblock %}