<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Main Page</title>

  <style>
      div{
        text-align: center;
        font-size: 24px;
        padding: 15px;
      }

  </style>
</head>
<body>

  <div>
      Annotated Bibliography要求
  </div>
{#  <div>#}
{#      <img src="/static/img/DS/AbList.png" >#}
{#  </div>#}
  <div>
      1、行距1.5
  </div>
  <div>
      2、cite除了第一行，其他行头空不空四个字符无所谓
  </div>
  <div>
      3、查重similarity: under 30%
  </div>
  <div>
{#   <a href="footer_set.html">#}
{#      4、别忘了页脚#}
{#  </a>#}
  </div>
  <div>
{#      <a href="harvarb_reference.html">5、如何区分自己找的文章是属于哪一类</a>#}
  </div>

  <h2 style="text-align:center">
      Annotated Bibliography结构
  </h2>
  <div class="block">
      citiation
  </div>
  <b>
      ----summary-----
  </b>
  <div style="">
      purpose statement
  </div>
  <div>
      Methodology
  </div>
  <div>
      explaination
  </div>

  <div>
      (findings/results)
      conclusion
  </div>
  <b>
      -----your------
  </b>
  <div>
      evaluation
  </div>
  <div>
      reflection
  </div>

  <table border="1">
   <tr>
     <th>Components of an annotated bibliography</th>
     <th>Language for an annotated bibliography</th>

   </tr>


    <tr>
     <td>
         <ul>
         <li>Author’s aim/purpose and thesis or position on the topic or issue</li>
         </ul>
     </td>
     <td>
         <ul>
         <li>
             In this article, Johnson reviews…
         </li>
        <li>
            This article examines…
        </li>
        <li>
            The authors describe…
        </li>
        <li>
            The article compares…
        </li>
        <li>
            The author’s purpose is to challenge…
        </li>
        </ul>
    </td>
     </tr>

    <tr>
     <td>
        <ul>
         <li>
             Summary of theory, key research findings or arguments and important examples and conclusions formed
         </li>
         <li>
             research methods used if applicable
         </li>
        </ul>
    </td>
    <td>
        <ul>
         <li>
             The main ideas expressed are…
         </li>
         <li>
             Support for these claims is documented…
         </li>
         <li>
             The author’s research focuses on…
         </li>
         <li>
             It is noted here that…
         </li>
         <li>
             The authors agree on…
         </li>
         <li>
             The findings indicate…
         </li>
        <li>
            The data suggests that…
        </li>
        <li>
            Jones concludes by stressing…
        </li>
        </ul>
    </td>
    </tr>

</table>


</body>
</html>
