# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# 在.gitignore文件中添加以下行，以忽略.idea目录下的所有文件
.idea/
